<div class="container">

    <div class="center" style="text-align: center;">
    

        <img class="raleway-logo" src="http://shatkonlabs.com/images/logo.png" height="70px pad">
        <h3>Shatkon Labs Pvt. Ltd.</h3>

        <h2>DigiEyeTech</h2>
    </div>

    <div class="row1">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div  class="panel-heading">
                 <font  color="#2aafc3" text-align: center; >    <h3 >Connect with us</h3>
                </div></font>
                <div  class="panel-body">
                    <form role="form" ng-submit="vm.login()" role="form">
                      
                      <font  color="#2aafc3"> <legend>  Account Details
                </legend></font>
               
  <fieldset style="width:350px"   >
<label> Email*  </label>



  <div style="background: lightgrey; class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                                <input type="email" name="email" placeholder="Please enter your email address" type="text" name="email" id="email" ng-model="vm.user.email" required >
                                <!-- <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Organization is required</span> -->
                            </div>

<div class="row2">  



<label> Password* </label>



 <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                                <input type="password" name="password" placeholder="Password" id="password" class="form-control" ng-model="vm.user.password" required />
                               <!--  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span> -->
                            </div>  <div class="infobox"><h6>Helpful Information</h6>
                    <p>Account detail will help you to login , whenever you next login into Your account.</p>
                </div></fieldset>
 <fieldset style="width:350px">


 <font  color="#2aafc3"> <legend>Personal Details
                </legend></font>













<label> Name* </label>
                            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                            
                                <input class="form-control" placeholder="Please enter your name" label ="nm" type="text" name="username" id="name" ng-model="vm.user.name" required >
                               <!--  <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Email is required</span> -->
                            </div>
                            <label> Organization* </label>
                            <div class="form-group" ng-class="{ 'has-error': form.organization.$dirty && form.organization.$error.required }">
                                <input type="organization" name="organization" placeholder="Please enter your organization name" type="text" name="organization" id="organization" ng-model="vm.user.organization" required >
                               <!--  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Organization is required</span> -->
                            </div>
                             
<label> Description* </label>
  <div class="form-group" ng-class="{ 'has-error': form.Description.$dirty && form.Description.$error.required }">
                                <input type="Description" name="Description" placeholder="Describe about your Organization" type="text" name="Description" id="Description" ng-model="vm.user.Description" required >
                               <!--  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Organization is required</span> -->
                            </div>
                            <label> Mobile* </label>


  <div class="form-group" ng-class="{ 'has-error': form.mobile.$dirty && form.mobile.$error.required }">
                                <input type="mobile" name="mobile" placeholder="Please enter your Number" type="text" name="mobile" id="mobile" ng-model="vm.user.mobile" required >
                               <!--  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Organization is required</span -->
                            </div>


<label> City* </label>

  <div class="form-group" ng-class="{ 'has-error': form.area_id.$dirty && form.area_id.$error.required }">
                                <input type="area_id" name="area_id" placeholder="Please enter your city" type="text" name="area_id" id="area_id" ng-model="vm.user.area_id" required >
                               <!--  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Organization is required</span> -->
                            </div>
<label> Locality* </label>

  <div class="form-group" ng-class="{ 'has-error': form.city_id.$dirty && form.city_id.$error.required }">
                                <input type="city_id" name="city_id" placeholder="Please enter your Locality" type="text" name="city_id" id="city_id" ng-model="vm.user.city_id" required >
                               <!--  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Organization is required</span> -->
                            </div>

<label> Address * </label>




  <div class="form-group" ng-class="{ 'has-error': form.address.$dirty && form.address.$error.required }">
                                <input type="address" name="address" placeholder="Please enter your organization address" type="text" name="address" id="address" ng-model="vm.user.address" required >
                                <!-- <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Organization is required</span> -->
                            </div>


                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <div class="form-actions">
                                <button   type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-lg btn-success btn-block">Register</button>
                                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>
                <i>
                    if you have any problem contact at help@blueteam.in or Call at 9599075955
                </i>
            </h4>
        </div>
    </div>



</div>
<div class="row">
    <div class="col-md-12 pull-right">
<iframe src="http://blueteam.in/" height="3000px" width="100%" frameborder="0">Your browser doesn't support iFrames.</iframe>
</div>
    </div>